.chart-symbol {
    -fx-shape: "M0 3 L3 3 L3 0 L0 0 Z";
    -fx-scale-shape: false;
}

.text-input.no-right-radius {
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

.text-input.error {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
