<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cz.muni.physics"/>

    <!--CONTROLLERS-->
    <bean id="searchOverviewController" class="cz.muni.physics.controller.SearchOverviewController"/>
    <bean id="databaseOverviewController" class="cz.muni.physics.controller.StarSurveyOverviewController"/>
    <bean id="rootLayoutController" class="cz.muni.physics.controller.RootLayoutController"/>
    <bean id="photometricDataOverviewController" class="cz.muni.physics.controller.PhotometricDataOverviewController"/>
    <bean id="databaseEditDialogController" class="cz.muni.physics.controller.StarSurveyEditDialogController"/>

    <!--SERVICES-->
    <bean id="sesameService" class="cz.muni.physics.service.SesameService"/>
    <bean id="databaseSearchService" class="cz.muni.physics.service.StarSurveySearchService"/>


    <bean id="sesameClient" class="cz.muni.physics.sesame.SesameClientImpl">
        <constructor-arg index="0" ref="restTemplate"/>
        <constructor-arg index="1" value="http://cdsweb.u-strasbg.fr/cgi-bin/nph-sesame/-oIX/A?{name}"/>
        <constructor-arg index="2" value="http://cdsweb.u-strasbg.fr/cgi-bin/nph-sesame"/>
    </bean>
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <!--PLUGINS-->
    <bean id="pluginManager" class="cz.muni.physics.plugin.PluginManagerImpl"/>

</beans>
