<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cz.muni.physics"/>

    <bean id="searchOverviewController" class="cz.muni.physics.controller.SearchOverviewController"/>
    <bean id="searchResultController" class="cz.muni.physics.controller.SearchResultController"/>
    <bean id="pluginOverviewController" class="cz.muni.physics.controller.PluginOverviewController"/>
    <bean id="databaseOverviewController" class="cz.muni.physics.controller.DatabaseOverviewController"/>
    <bean id="rootLayoutController" class="cz.muni.physics.controller.RootLayoutController"/>
    <bean id="photometricDataOverviewController" class="cz.muni.physics.controller.PhotometricDataOverviewController"/>
    <bean id="databaseEditDialogController" class="cz.muni.physics.controller.DatabaseEditDialogController"/>

    <bean id="sesameClient" class="cz.muni.physics.sesame.SesameClientImpl">
        <constructor-arg index="0" ref="restTemplate"/>
    </bean>
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    </bean>

    <bean id="pluginManager" class="cz.muni.physics.plugin.PluginManagerImpl"/>

    <bean id="javaPluginLoader" class="cz.muni.physics.plugin.java.JavaPluginLoader"/>
    <bean id="javaPluginManager" class="cz.muni.physics.plugin.java.JavaPluginManager">
        <property name="pluginJars"
                  value="#{javaPluginLoader.availablePluginJars}"/>
    </bean>
</beans>
